$standard-transition: all .35s ease-in;
.p-10 {
  padding: 10px;
}

.thought-wrapper {
  position: relative;
  text-align: right;
}

.thought-category {
  position: sticky;
  position: -webkit-sticky;
  margin: 0;
  text-align: right;
  z-index: 200;
  height: 0;
  top: 0;
  mix-blend-mode: darken;
}

.thought-category__inner {
  @extend .p-10;
  display: inline-block;
  white-space: nowrap;
  background: black;
  min-width: 20vw;
}

.thought {
  display: grid;
  align-items: stretch;
  text-align: left;
  @include bp(lg) {
    height: 100vh;
  }
}

.thought-currently {
  position: relative;
}

.title {
  @extend .p-10;
}

.thought-space {
  // overflow: hidden;
  max-width: 100vw;
  @include bp(lg) {
    overflow: visible;
  }
}

.words {
  @include font-size(sm, false);
  align-items: center;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 3fr 1fr;

  // kludge
  div {
    transition: $standard-transition;
    z-index: 40;
    opacity: 0; // setting up for animation
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include bp(lg) {
    @include font-size(lg, false);
    height: 50vh;
  }

  .active & {
    div {
      opacity: 1;
    }
  }
}

%illy-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .illy-img {
    position: relative;
  }

  @include bp(lg) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.illy {
  margin: 0;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  display: flex;
  mix-blend-mode: overlay;
  position: relative;

  @include bp(lg) {
    height: 50vh;
  }
}

.illy-img {
  // position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1000px;
  opacity: 0.4;
  pointer-events: none;
  filter: invert(100%);

  .thought-0 & {
    opacity: 1;
  }
}

.illy-darrows {
  mix-blend-mode: luminosity;
  top: 10vh;
  max-width: 300px;
  opacity: 0.1;
  @include bp(lg) {
    opacity: 0.4;
  }
}

.illy-puff {
  @extend %illy-flex;
  .illy-img {
    filter: none;
    margin-bottom: 3em;
    max-width: 600px;
    @include bp(lg) {
      max-width: 900px;
    }
  }
}

// circular black badge
.illy-currently {
  @extend %illy-flex;
  border-radius: 50%;
  transform: translateY(-50%);
  width: 15vw;
  height: 15vw;
  min-height: 200px;
  min-width: 200px;
  background: purple;
  mix-blend-mode: darken;
  bottom: auto;
  left: -5vw;
  position: absolute;
  top: 100%;
  .illy-img {
    opacity: 1;
    max-width: 800px;
    margin-bottom: -20px;
  }
  @include bp(lg) {
    left: 10vw;
    top: 50%;
  }
}

// For the sleeping animation
@keyframes spin {
  from {
    transform: rotate(0) scale(1);
  }
  to {
    transform: rotate(360deg) scale(0.7);
  }
}

.illy-sleep {
  @extend %illy-flex;
  overflow: hidden;
  .illy-img {
    animation: spin 20s ease-in-out 1s infinite alternate;
    max-width: 500px;
  }
}

.illy-calligraphy {
  .illy-img {
    filter: none;
    opacity: 0.2;
  }
}

.illy-holy {
  .illy-img {
    filter: none;
  }
}

.illy-skull {
  @extend %illy-flex;
  z-index: 666; // ;)
  .illy-img {
    max-width: 50vw;
  }
}

.illy-fig8 {
  @extend %illy-flex;
  .illy-img {
    max-width: 50vw;
    filter: none;
  }
}
.illy-jeremy {
  @extend %illy-flex;
  justify-content: flex-end;
  margin-right: 10vw;

  .illy-img {
    max-width: 80vw;
    top: -50%;
    opacity: 1;
    filter: none;
  }
}

.illy-motorcyle {
  @extend %illy-flex;
  justify-content: flex-start;
  .illy-img {
    top: -50%;
    max-width: 700px;
    @include bp(lg) {
      margin-left: 10vw;
    }
  }
}

.title {
  position: fixed;
  margin-top: 0;
  width: 100%;
  z-index: 10;
}

.cell {
  background: hsla(20, 50%, 50%, 0.1);
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;

  .words & {
    padding: 40px;
    // @include bp(lg) {
    // }
  }

  // .thoughts & {
  //   padding: 40px;
  // }
}

.thought-2 {
  .words {
    grid-template-columns: 1fr 3fr;

    @include bp(lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .cell-code {
    background-image: url("../../images/coding-vim.gif");
    background-size: cover;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 25vw;
    margin-left: 12.5vw;
    height: 25vw;
  }
}

// .though-N gets generated by javascript since :nth-child doesn't work
// top level
@for $i from 0 through 100 {
  .thought-#{$i} {
    .words {
      background-color: hsl(
        (330 + $i * 12) % 360,
        50%,
        min(45% + ($i * 5%), 50%)
      );
    }

    background-color: hsl((330 + $i * 12 + 180/5) % 360, 50%, 50%);
  }
}

.progress-bar {
    padding: 0;
    margin: 0;
    // transition: all .2s linear;
    // transition: all .2s linear;
    width: 0;
    z-index: 11111111111110;
    position: absolute;
    top: 0;
    bottom: -3px;
    right: 0;
    background-color: hsla(0, 0%, 100%, 0);
    border-top: 3px white solid;

    @include bp(lg) {
      display: block;
    border-top: none;
    border-bottom: 3px white solid;
    }
}
