@import "bourbon/bourbon";
@import "neat/neat";

@import "base/reset";
@import "base/grid";
@import "shared/unica";
@import "shared/caslon";

body {
  background: #F13E3F;
  font-family: UnicaWeb, serif;
  color: #F1FFCD;
  line-height: 1.5;
}

@mixin h1 {
  font-family: BigCaslon, sans-serif;
  font-size: 24px;

  span {
    display: none;
  }

  @media (min-width: 640px) {
    font-size: 3vw;

    span {
      display: inline;
    }
  }
}

h1 {
  @include h1;
  margin-bottom: .5rem;
}

h2 {
  @include h2;
  a {
    text-decoration: underline;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100vh;
  text-align: center;
  padding: 1rem;
}

.message {
  flex: 0 1 auto;
  align-self: center;
}
