$font-sizes: (
  xlarge: (
    h1: 51px,
    h2: 41px,
    h3: 33px,
    h4: 26px,
    h5: 21px,
    h6: 16px,
    base: 21px,
    large: 26px,
    small: 16px,
    cta: 21px
  ),
  large: (
    h1: 44px,
    h2: 35px,
    h3: 28px,
    h4: 23px,
    h5: 18px,
    h6: 14px,
    base: 18px,
    large: 20px,
    small: 14px,
    cta: 18px
  ),
  medium: (
    h1: 39px,
    h2: 31px,
    h3: 25px,
    h4: 20px,
    h5: 16px,
    h6: 13px,
    base: 16px,
    large: 18px,
    small: 13px,
    cta: 16px
  ),
  mobile: (
    h1: 39px,
    h2: 31px,
    h3: 25px,
    h4: 20px,
    h5: 16px,
    h6: 13px,
    base: 16px,
    large: 18px,
    small: 13px,
    cta: 16px
  )
);
