@import "bourbon/bourbon";
@import "neat/neat";

@import "base/variables";
@import "base/reset";
@import "base/grid";
@import "shared/mixins";
@import "shared/unica";
@import "shared/caslon";

$bg-color: #fff;

body {
  line-height: 1.5;
  font-family: BigCaslon, sans-serif;
  color: white;
}

@mixin h1 {
  font-family: UnicaWeb, serif;
  @include font-size(h1);
}

@mixin h2 {

}

h1 {
  @include h1;
  margin-bottom: .5rem;
}

h2 {
  @include h2;
}

.sheet {
  //display: flex;
  display:block;
  background-image: linear-gradient(-90deg,#0e5cde,#04a7e5,#1fc4d2,#1fc4d2,#21d5c2,#21d5c2,#26d8ae,#26d8ae,#37d986,#76db2f,#8adb26,#bfdf27,#bfdf27,#e0da30,#ecc031,#f5ab28,#fd7d20,#ff0707);
}

.sheet--x {
  width: 800vw;
  position: absolute;
  //@include flex-flow(row wrap);
}

.sheet--y {
  //@include flex-flow(row wrap);
  height: calc(800vw + 100vh); // this is what allows us to use 50% correctly in the classesToAdd values
  background: $bg-color;
  opacity: .5;
  width: 100%;
  position: relative;
  z-index: 0;

}

.tt {
  position: absolute;
  white-space: nowrap;
  top: 50vh;
  @include transform(translateY(-50%) !important);
  z-index: 1;
}

.tt--left,
.tt--left2 {

  @include transform(translateX(-50%) !important);
  left: 0;

  &.state-1 {
    //opacity: .5;
  }
}

.tt--right,
.tt--right2 {
  right: 0;
  @include transform(translateX(50%) !important);
  &.state-1 {
    //position: fixed;
  }
}


.sheet__westward,
.sheet__eastward {
  min-height: 100vh;
  height: 100vh;
}

.sheet__westward {
  //background: lighten($bg-color, 40);
  right: 0;
}

.sheet__eastward {
  //background: $bg-color; //lighten(green, 40);
}

.window {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.window__westward {
  right: 50%;
}

.window__eastward {
  left: 50%;
}

.cell {
  // background: yellow;
  // min-height: 50vh;
  // min-width: 50vw;

  .sheet__scrolling & {
    //visibility: hidden;
    opacity: 0.5;
  }

  &.a {
    //background: rgba(0,0,0,.1);
  }

  &.b {
    //background: $bg-color;
  }
}

// :w
// }
//
// .cell-6h {
//   min-height: 50%;
// }

.panel {
  @include display(flex);
  @include flex-flow(column wrap);
  min-height: 100vh;
  height: 100vh;
  min-width: 50vw;
  width: 50vw;
  //:w
  float: left;
  position: relative;
//  background: blue;

  // we want the scrolling to be matched
  .sheet__scrolling & {
    min-height: 50vw;
    height: 50vw;
  }
}

// Internal elements
.sam {
  position: absolute;
  top: 25%;
  right: 0%;
  &.testing-1 {
    color: red;
  }
}

.sam2 {
  right: auto;
  left: 0%;
}
